html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
// .lock-scroll {
//   overflow: hidden;
// }
.siteWrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .site-header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: 0.3s ease background-color;
    .logo {
      width: 36%;
      height: 15vh;
      margin-top: auto;
      display: flex;
      align-items: center;
      img {
        width: 45%;
        cursor: pointer;
      }
    }
    .nav-list {
      width: 33%;
      .header-links {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 0;
        a {
          text-decoration: none;
          color: #f9d342;
          font-weight: 600;
          text-transform: uppercase;
          &:hover {
            color: white;
            transition: 0.7s ease;
          }
        }
      }
    }
  }
  .section-1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-family: var(--bs-font-sans-serif);
      text-transform: uppercase;
      width: -moz-fit-content;
      font-size: 32pt;
      font-weight: 600;
      position: relative;
      color: transparent;
      animation: text_reveal 0.8s ease forwards;
      animation-delay: 1.5s;
      &:nth-child(1) {
        animation-delay: 1.5s;
      }
      &:nth-child(2) {
        animation-delay: 2.5s;
      }
      &:nth-child(1) span {
        animation-delay: 1s;
      }
      &:nth-child(2) span {
        animation-delay: 2s;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #f9d342;
        animation: text_reveal_box 1s ease;
        animation-delay: 1s;
      }
    }
  }
}

.section-2 {
  height: 100%;
  padding-top: 40px;
  overflow: hidden;
  .quote {
    text-align: center;
    padding-top: 20px;
    .quote-text {
      display: inline-block;
      transition-duration: 0.8s;
      font-size: 30px;
      &:last-child {
        padding-left: 6px;
      }
      @media screen and (max-width: 768px) {
        font-size: 23px !important;
      }
      @media screen and (max-width: 546px) {
        font-size: 18px !important;
      }
      @media screen and (max-width: 421px) {
        font-size: 15px !important;
      }
    }
  }
  .about-info {
    width: 100%;
    text-align: center;
    padding: 20px 60px 0 60px;
    @media screen and (max-width: 1199px) {
      padding: 0;
      padding-top: 15px;
    }
    h1 {
      font-family: "BrownStd-Regular";
      font-weight: 600;
      // padding-bottom: 15px;
      transition-duration: 0.8s;
      margin: 0;
      padding: 0;
      span {
        color: #e2bf31;
      }
    }
    .line {
      opacity: 1;
      border: 0;
      border-top: 2px solid #e2bf31;
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 260px;
      transition-duration: 1.5s;
    }
    p {
      line-height: 2;
      padding-top: 6px;
      padding-bottom: 20px;
      transition-duration: 0.8s;
    }
  }
}

.section-3 {
  text-align: center;
  margin-top: 20px;
  .together {
    background-color: #dfeeee;
    // background: #f7f7f7;
    padding-bottom: 40px;
    padding-top: 50px;
    h1 {
      padding-bottom: 30px;
      margin-top: -20px;
    }
    img {
      border-radius: 65px;
      width: 100%;
      height: 150%;
    }
    .services-text {
      padding-left: 30px;
      h3 {
        padding-bottom: 10px;
      }
      p {
        line-height: 1.7;
      }
    }
  }
  .combined {
    margin-top: 50px;
    margin-bottom: 50px;
    .services-text {
      padding-right: 25px;
      h3 {
        padding-bottom: 10px;
      }
      p {
        line-height: 1.7;
      }
    }
    img {
      width: 100%;
      border-radius: 65px;
    }
  }
  .services-video {
    width: 100%;
    // height: 90vh;
    .video-heading {
      padding-top: 20px;
      padding-bottom: 30px;
    }
    .video {
      video {
        height: 76vh;
      }
    }
  }
}

.section-4 {
  margin-top: 70px;
  margin-bottom: 70px;
  .contact-heading {
    margin-bottom: 30px;
    h1 {
      text-align: center;
    }
  }
  .form {
    width: 45%;
    position: relative;
    height: 53px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    @media screen and (max-width: 991px) {
      width: 60%;
    }
    @media screen and (max-width: 600px) {
      width: 70%;
    }
    input {
      width: 100%;
      height: 100%;
      color: #595f6e;
      padding-top: 20px;
      border: none;
      outline: none;
      display: flex;
      justify-content: center;
      &:focus + .label-name .content-name {
        transform: translateY(-150%);
        font-size: 14px;
        color: #595f6e;
      }
      &:valid + .label-name .content-name {
        transform: translateY(-150%);
        font-size: 14px;
        color: #595f6e;
      }
      &:focus + .label-name::after,
      &:valid + .label-name::after {
        transform: translateX(0%);
      }
    }
    label {
      position: absolute;
      bottom: 0px;
      left: 0%;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 2px solid #aa8f20;
      &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -2px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid #595f6e;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }
      .content-name {
        position: absolute;
        bottom: 5px;
        left: 0px;
        transition: all 0.3s ease;
      }
    }
  }
  .submit-button {
    display: flex;
    justify-content: center;
    .submit-input {
      padding: 15px 35px;
      border: none;
      border: 3px solid #aa8f20;
      border-radius: 30px;
      background-color: #aa8f20;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      line-height: 1.6;
      &:hover {
        background: #292826;
        -webkit-transition: all 0.4s linear 0s;
        transition: all 0.4s linear 0s;
        border: 3px solid #f9d342;
      }
    }
  }
}

footer {
  background: #292826;
  height: 16vh;
  color: white;
  .site-footer {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .email-contact {
      padding-left: 3em;
      a {
        text-decoration: none;
        color: #f9d342;
        font-size: 15px;
      }
    }
    .copyright-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 0;
        // font-size: 13px;
      }
    }
    .contact-links {
      padding-right: 9em;
      a {
        text-decoration: none;
        padding-left: 7px;
        font-size: 20px;
        color: white;
        &:hover {
          color: #f9d342;
          transition: 0.3s ease;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .nav-list {
    width: 42% !important;
  }
}
@media screen and (max-width: 991px) {
  .site-header {
    padding: 0;
  }
  .header-links {
    justify-content: space-between !important;
    padding: 0 !important;
  }
}
@media screen and (max-width: 850px) {
  .logo {
    width: 40% !important;
  }
  footer {
    height: 25vh;
  }
  .site-footer {
    flex-direction: column;
    // height: 20vh !important;
    .email-contact {
      padding: 0 !important;
      a {
        padding-top: 20px !important;
      }
    }
    .copyright-text {
    }
    .contact-links {
      padding: 0 !important;
      a {
        padding-top: 20px !important;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .logo {
    z-index: 2;
    width: 100% !important;
    margin-left: 60px;
  }
  .hamburger {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 19px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin-right: 60px;
    cursor: pointer;
    // transform: scale(0.9);
    .bar {
      height: 2px;
      width: 30px;
      position: relative;
      background-color: white;
      z-index: -1;
      &::after,
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: white;
        transition: 0.3s ease;
        transition-property: top, bottom;
      }
      &::after {
        top: 8px;
      }
      &::before {
        bottom: 8px;
      }
    }
  }
  .hamburger.active .bar::before {
    bottom: 0;
  }
  .hamburger.active .bar::after {
    top: 0;
  }
  .header-links {
    position: fixed;
    background-color: #292826;
    left: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh !important;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-evenly !important;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.6s ease left;
    li {
      &:hover a::after {
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
      }
      .different {
        padding-bottom: 50px;
        float: left;
      }
      .different2 {
        padding-top: 50px;
        float: left;
      }
    }
  }
  .header-links.active {
    left: 0;
  }
  .together {
    img {
      padding-bottom: 30px;
    }
    .services-text {
      padding-bottom: 30px;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
  .combined {
    .services-text {
      padding-bottom: 30px;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .header-links {
    li {
      a {
        &::after {
          font-size: 5rem;
        }
      }
    }
  }
  .section-1 {
    h1 {
      font-size: 36px !important;
    }
  }
}
@media screen and (max-width: 500px) {
  .video-heading {
    padding-bottom: 0 !important;
  }
  .video {
    video {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media screen and (max-width: 425px) {
  video {
    height: 58vh !important;
  }
}

// Keyframes
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: #f9d342;
  }
}
