html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.siteWrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.siteWrapper .site-header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: 0.3s ease background-color;
}
.siteWrapper .site-header .logo {
  width: 36%;
  height: 15vh;
  margin-top: auto;
  display: flex;
  align-items: center;
}
.siteWrapper .site-header .logo img {
  width: 45%;
  cursor: pointer;
}
.siteWrapper .site-header .nav-list {
  width: 33%;
}
.siteWrapper .site-header .nav-list .header-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.siteWrapper .site-header .nav-list .header-links a {
  text-decoration: none;
  color: #f9d342;
  font-weight: 600;
  text-transform: uppercase;
}
.siteWrapper .site-header .nav-list .header-links a:hover {
  color: white;
  transition: 0.7s ease;
}
.siteWrapper .section-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.siteWrapper .section-1 h1 {
  font-family: var(--bs-font-sans-serif);
  text-transform: uppercase;
  width: -moz-fit-content;
  font-size: 32pt;
  font-weight: 600;
  position: relative;
  color: transparent;
  animation: text_reveal 0.8s ease forwards;
  animation-delay: 1.5s;
}
.siteWrapper .section-1 h1:nth-child(1) {
  animation-delay: 1.5s;
}
.siteWrapper .section-1 h1:nth-child(2) {
  animation-delay: 2.5s;
}
.siteWrapper .section-1 h1:nth-child(1) span {
  animation-delay: 1s;
}
.siteWrapper .section-1 h1:nth-child(2) span {
  animation-delay: 2s;
}
.siteWrapper .section-1 h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #f9d342;
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
}

.section-2 {
  height: 100%;
  padding-top: 40px;
}
.section-2 .quote {
  text-align: center;
  padding-top: 20px;
}
.section-2 .quote p {
  display: inline-block;
  transition-duration: 0.8s;
  font-size: 30px;
}
.section-2 .quote p:last-child {
  padding-left: 6px;
}
.section-2 .about-info {
  width: 100%;
  text-align: center;
  padding: 20px 60px 0 60px;
}
@media screen and (max-width: 1199px) {
  .section-2 .about-info {
    padding: 0;
    padding-top: 15px;
  }
}
.section-2 .about-info h1 {
  font-family: "BrownStd-Regular";
  font-weight: 600;
  transition-duration: 0.8s;
  margin: 0;
  padding: 0;
}
.section-2 .about-info h1 span {
  color: #e2bf31;
}
.section-2 .about-info .line {
  opacity: 1;
  border: 0;
  border-top: 2px solid #e2bf31;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 260px;
  transition-duration: 1.5s;
}
.section-2 .about-info p {
  line-height: 2;
  padding-top: 6px;
  padding-bottom: 20px;
  transition-duration: 0.8s;
}

.section-3 {
  text-align: center;
  margin-top: 20px;
}
.section-3 .together {
  background-color: #dfeeee;
  padding-bottom: 40px;
  padding-top: 50px;
}
.section-3 .together h1 {
  padding-bottom: 30px;
  margin-top: -20px;
}
.section-3 .together img {
  border-radius: 65px;
  width: 100%;
  height: 150%;
}
.section-3 .together .services-text {
  padding-left: 30px;
}
.section-3 .together .services-text h3 {
  padding-bottom: 10px;
}
.section-3 .together .services-text p {
  line-height: 1.7;
}
.section-3 .combined {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-3 .combined .services-text {
  padding-right: 25px;
}
.section-3 .combined .services-text h3 {
  padding-bottom: 10px;
}
.section-3 .combined .services-text p {
  line-height: 1.7;
}
.section-3 .combined img {
  width: 100%;
  border-radius: 65px;
}

.section-4 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.section-4 .contact-heading {
  margin-bottom: 30px;
}
.section-4 .contact-heading h1 {
  text-align: center;
}
.section-4 .form {
  width: 45%;
  position: relative;
  height: 53px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .section-4 .form {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .section-4 .form {
    width: 70%;
  }
}
.section-4 .form input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
}
.section-4 .form input:focus + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #595f6e;
}
.section-4 .form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #595f6e;
}
.section-4 .form input:focus + .label-name::after, .section-4 .form input:valid + .label-name::after {
  transform: translateX(0%);
}
.section-4 .form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid #aa8f20;
}
.section-4 .form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #595f6e;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.section-4 .form label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.section-4 .submit-button {
  display: flex;
  justify-content: center;
}
.section-4 .submit-button .submit-input {
  padding: 15px 35px;
  border: none;
  border: 3px solid #aa8f20;
  border-radius: 30px;
  background-color: #aa8f20;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}
.section-4 .submit-button .submit-input:hover {
  background: #292826;
  transition: all 0.4s linear 0s;
  border: 3px solid #f9d342;
}

footer {
  background: #292826;
  height: 16vh;
  color: white;
}
footer .site-footer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .site-footer .email-contact {
  padding-left: 3em;
}
footer .site-footer .email-contact a {
  text-decoration: none;
  color: #f9d342;
  font-size: 15px;
}
footer .site-footer .copyright-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .site-footer .copyright-text p {
  margin: 0;
}
footer .site-footer .contact-links {
  padding-right: 9em;
}
footer .site-footer .contact-links a {
  text-decoration: none;
  padding-left: 7px;
  font-size: 20px;
  color: white;
}
footer .site-footer .contact-links a:hover {
  color: #f9d342;
  transition: 0.3s ease;
}

@media screen and (max-width: 1080px) {
  .nav-list {
    width: 42% !important;
  }
}
@media screen and (max-width: 991px) {
  .site-header {
    padding: 0;
  }

  .header-links {
    justify-content: space-between !important;
    padding: 0 !important;
  }
}
@media screen and (max-width: 850px) {
  .logo {
    width: 40% !important;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    z-index: 2;
    width: 100% !important;
    margin-left: 60px;
  }

  .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: fixed;
    top: 19px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin-right: 60px;
    cursor: pointer;
    transform: scale(0.9);
  }
  .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
  }
  .hamburger .bar::after, .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
  }
  .hamburger .bar::after {
    top: 8px;
  }
  .hamburger .bar::before {
    bottom: 8px;
  }

  .hamburger.active .bar::before {
    bottom: 0;
  }

  .hamburger.active .bar::after {
    top: 0;
  }

  .header-links {
    position: fixed;
    background-color: #292826;
    left: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh !important;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-evenly !important;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.6s ease left;
  }
  .header-links li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
  }
  .header-links li a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 8rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.5s ease letter-spacing;
  }
  .header-links li .different {
    padding-bottom: 50px;
    float: left;
  }
  .header-links li .different2 {
    padding-top: 50px;
    float: left;
  }

  .header-links.active {
    left: 0;
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: #f9d342;
  }
}
@media screen and (max-width: 600px) {
  .header-links li a::after {
    font-size: 5rem;
  }
}